<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._CFG_" version="1.0.7455.19770" targetFramework="net472" />
  <package id="_nilnul_._LIB_" version="1.0.7455.19774" targetFramework="net472" />
  <package id="_nilnul_._LINQ_" version="1.0.7455.19770" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="nilnul._bit_._LIB_" version="1.0.7455.33559" targetFramework="net472" />
  <package id="nilnul._character_._LIB_" version="2.0.7433.34403" targetFramework="net472" />
  <package id="nilnul._fs_._LIB_" version="2.0.7478.26662" targetFramework="net472" />
  <package id="nilnul._lang_._LIB_" version="1.0.6962.27014" targetFramework="net472" />
  <package id="nilnul._ling_._LIB_" version="1.0.7079.29589" targetFramework="net472" />
  <package id="nilnul._linq_._LIB_" version="1.0.6928.36726" targetFramework="net472" />
  <package id="nilnul._num_._LIB_" version="1.0.7483.35230" targetFramework="net472" />
  <package id="nilnul._num_._LINQ_" version="1.0.7483.21002" targetFramework="net472" />
  <package id="nilnul._obj_._LIB_" version="1.0.7484.53" targetFramework="net472" />
  <package id="nilnul._rel_._LIB_" version="1.0.7443.26595" targetFramework="net472" />
  <package id="nilnul._set_._LIB_" version="1.0.7442.42317" targetFramework="net472" />
  <package id="nilnul._time_._LIB_" version="1.0.7462.20798" targetFramework="net472" />
  <package id="nilnul._txt_._LIB_" version="1.0.7478.24799" targetFramework="net472" />
  <package id="nilnul._web_._CTR_" version="1.0.7425.31288" targetFramework="net472" />
  <package id="nilnul._web_._LIB_" version="1.0.7463.37831" targetFramework="net472" />
  <package id="nilnul._xml_._LIB_" version="1.0.1" targetFramework="net472" />
  <package id="nilnul.num._integer_._LIB_" version="1.0.7483.23523" targetFramework="net472" />
  <package id="nilnul.num._quotient_._LIB_" version="1.0.7485.3089" targetFramework="net472" />
  <package id="nilnul.num._real_._LIB_" version="2.0.7485.5170" targetFramework="net472" />
  <package id="nilnul.set._discrete_._LIB_" version="1.0.6873.37823" targetFramework="net472" />
  <package id="nilnul.web._ascxRender_._LIB_" version="1.0.7310.41436" targetFramework="net472" />
  <package id="nilnul.web._css_.WEB._CTR_" version="1.0.7422.42331" targetFramework="net472" />
  <package id="nilnul.web._ctr_.WEB._CTR_" version="1.0.7457.32514" targetFramework="net472" />
  <package id="nilnul.web._js_.WEB._CTR_" version="1.0.7388.29841" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>